<%= form_with model: petition do |form| %>
  <div style="width: 620px;padding-left: 0px;padding-right: 0px;margin-left: auto;margin-right: auto;">
    <div style="padding-left: 15px;padding-right: 15px;">
      <h1 style="font-size: 2.44141rem;margin-top: 60px;margin: 40px 0px 0px;margin-top: 40px;font-weight: bold;line-height: 1.2;">
        Write your petition title
      </h1>
    </div>
  </div>

  <br><br><br><br><br><br><br><br>


  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% petition.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% petition.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label "Add a photo" %><br>
    <%= form.file_field :picture, accept: 'image/png,image/jpeg' %>
    <% petition.errors.full_messages_for(:picture).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit data: {turbo: false} %>
  </div>
<% end %>
