<%= form_with model: petition do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% petition.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% petition.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :goal %><br>
    <%= form.number_field :goal %>
    <% petition.errors.full_messages_for(:goal).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
