<div class="container">
  <div class="browse_header_container">
    <div class="browse_title">
      <h1 style="margin: 0px;">Discover petitions to sign</h1>
    </div>
    <div class="browse_menu">
      <%= link_to "Popular", petitions_path, :class => 'header_link', :id => "popular" %>
      <%= link_to "Recent", petitions_path + "?selected=recent", :class => 'header_link', :id => "recent" %>
      <%= link_to "Victories", petitions_path + "?selected=victories", :class => 'header_link', :id => "victories" %>
    </div>
  </div>
</div>

<script>
    // Selected browser item
    if ("<%= params[:selected] %>" == "recent") {
        document.getElementById("recent").classList.add("browse_selected")
    } else if ("<%= params[:selected] %>" == "victories") {
        document.getElementById("victories").classList.add("browse_selected")
    } else {
        document.getElementById("popular").classList.add("browse_selected")
    }
</script>

<hr class="separator"/>

<div style="background-color: #f6f4f6 !important;">
  <div class="container">
    <div class="row" style="padding-top: 30px !important; padding-bottom: 30px !important;">
      <ul id="petition_list">
        <% @petitions.each do |petition| %>
          <li><%= render 'petition_with_goal', petition: petition  %></li>
        <% end %>
      </ul>

      <div id="load_more">
        <% if @pagy.next.present? %>
          <%= button_to "Load more", pagy_url_for(@pagy, @pagy.next), class: "load_more", style: "margin: 0px;"%>
        <% end %>
      </div>
    </div>
  </div>
</div>