<%= render 'tabs_header' %> <br>

<h1><%= @petition.title %></h1>
<p><%= @petition.user.name %> <%= @petition.user.surname %> started this petition</p>
<p><%= @petition.description %></p>
<p><%= @petition.signatures.size %> have signed. Let's get to <%= @petition.goal %>!</p>

<% if user_signed_in? %>
  <% if @current_signature.nil? %>
    <b>I'm signing this because... (optional)</b>
    <%= render 'signatures/form' %>
  <% else %>
    <b>Thanks to your support this petition has a chance at winning!</b>
  <% end %>
<% else %>
  <p>TODO: Mostrar opção de colocar nome e sobrenome pra assinar</p>
<% end %>

<% if user_signed_in? && @petition.user.id == current_user.id %>
  <ul>
    <li><%= link_to "Edit", edit_petition_path(@petition) %></li>
    <li><%= link_to "Destroy", petition_path(@petition), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
  </ul>
<% end %>