<h1><%= "#{@user.name} #{@user.surname}" %></h1>
<p><%= "#{@user.country} | @#{@user.twitter_username}" %></p>
<p><%= @user.about_me %></p>

<% if @user.id == current_user.id %>
  <h2>Started (<%= @petitions.size %>)</h2>
  <%= render @petitions %>

  <br>

  <h2>Signed (<%= @signatures.size %>)</h2>
  <% @signatures.each do |signature| %>
    <%= render signature.petition %>
  <% end %>
<% end %>
