<div class="container" style="margin-top: 40px !important;margin-bottom: 40px !important;">
  <div style="margin-left: -10px;margin-right: -10px;">
    <div style="margin-left: 16.66666667%;width: 66.66666667%;padding-left: 10px;padding-right: 10px;">
      <div style="text-align: center !important;">
        <div style="display: inline-block !important;">
          <%= image_tag (@user.avatar.attached?) ? @user.avatar : 'default-user-profile.svg', style: "width: 80px;height: 80px;", class: "petition_card_user_avatar" %>
        </div>

        <h1><%= "#{@user.name} #{@user.surname}" %></h1>

        <div style="margin-bottom: 15px !important;color: #737273 !important;">
          <% unless @user.country.nil? || @user.country == "Country" %>
            <span><%= @user.country %></span>
          <% end %>
          <% unless @user.twitter_username.nil? || @user.twitter_username.length == 0 %>
            <% if @user.country != "Country" %>
              <span>·</span>
            <% end %>
            <%= link_to "@#{@user.twitter_username}", "https://twitter.com/#{@user.twitter_username}", class: "header_link", style: "display: initial;" %>
          <% end %>
        </div>

        <p><%= @user.about_me %></p>
        <% if current_user.id == @user.id %>
          <%= link_to "Edit profile", edit_user_registration_path, :class => 'load_more', style: "margin-top: 15px !important;margin-bottom: 15px !important;padding: 8px 16px;font-size: .8rem;" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br><br><br><br><br>



<p>
  <% unless @user.country.nil? || @user.country == "Country" %>
    <%= @user.country %>
  <% end %>
  <% unless @user.twitter_username.nil? || @user.twitter_username.length == 0 %>
    @<%= @user.twitter_username %>
  <% end %>
</p>
<p><%= @user.about_me %></p>

<% if @user.id == current_user.id %>
  <h2>Started (<%= @petitions.size %>)</h2>
  <%= render @petitions %>

  <br>

  <h2>Signed (<%= @signatures.size %>)</h2>
  <% @signatures.each do |signature| %>
    <%= render signature.petition %>
  <% end %>
<% end %>
