<%- title "#{@user.name} #{@user.surname}・change-on-rails" %>

<div class="container" style="margin-top: 40px !important;margin-bottom: 40px !important;">
  <div style="margin-left: -10px;margin-right: -10px;">
    <div style="margin-left: 16.66666667%;width: 66.66666667%;padding-left: 10px;padding-right: 10px;">
      <div style="text-align: center !important;">
        <div style="display: inline-block !important;">
          <%= image_tag (@user.avatar.attached?) ? @user.avatar : 'default-user-profile.svg', style: "width: 80px;height: 80px;margin-right: 0;", class: "petition_card_user_avatar" %>
        </div>

        <h1><%= "#{@user.name} #{@user.surname}" %></h1>

        <div style="margin-bottom: 15px !important;color: #737273 !important;">
          <% unless @user.country.nil? || @user.country == "Country" %>
            <span><%= @user.country %></span>
          <% end %>
          <% unless @user.twitter_username.nil? || @user.twitter_username.length == 0 %>
            <% if @user.country != "Country" %>
              <span>·</span>
            <% end %>
            <%= link_to "@#{@user.twitter_username}", "https://twitter.com/#{@user.twitter_username}", class: "header_link", style: "display: initial;" %>
          <% end %>
        </div>

        <p><%= @user.about_me %></p>
        <% if current_user.id == @user.id %>
          <%= link_to "Edit profile", edit_user_registration_path, :class => 'load_more', style: "margin-top: 15px !important;margin-bottom: 15px !important;padding: 8px 16px;font-size: .8rem;" %>

          <div class="browse_menu" style="margin-top: 25px;">
            <%= link_to "Started (#{@user.petitions.count})", request.path, :class => 'header_link', :id => "started" %>
            <%= link_to "Signed (#{@user.signatures.count})", request.path + "?selected=signed", :class => 'header_link', :id => "signed" %>
          </div>
          <hr class="separator" style="margin-bottom: 1.5em;"/>

          <ul id="petition_list">
            <% @petitions.each do |petition| %>
              <li><%= render petition %></li>
            <% end %>
          </ul>

          <div id="load_more">
            <% if @pagy.next.present? %>
              <%= button_to "Load more", pagy_url_for(@pagy, @pagy.next), class: "load_more", style: "margin: 0px;margin-top: 25px;"%>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    // Selected tabs item
    if ("<%= params[:selected] %>" == "signed") {
        document.getElementById("signed").classList.add("browse_selected");
    } else {
        document.getElementById("started").classList.add("browse_selected");
    }
</script>