<header class="website_header">
  <div class="header_box">
    <div class="header_primary_box">
      <div class="header_logo_box">
        <%= link_to "change-on-rails", root_path, :class => 'header_link' %>
      </div>
      <div class="header_primary_items_box">
        <div class="header_item">
          <%= link_to "Start a petition", new_petition_path, :class => 'header_link' %>
        </div>
        <div class="header_item">
          <%= link_to "My petitions", "/users/me", :class => 'header_link' %>
        </div>
        <div class="header_item">
          <%= link_to "Browse", petitions_path, :class => 'header_link' %>
        </div>
      </div>
    </div>
    <div class="header_secondary_items_box">
      <div class="header_item">
        <%= link_to "Search", "/search", :class => 'header_link' %>
      </div>
      <div class="header_item" style="margin-right: 0px;">
        <% if user_signed_in? %>
          <%= link_to 'My petitions', "/users/me", :class => 'navbar-link' %> |
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
        <% else %>
          <%= link_to "Login", new_user_session_path, :class => 'header_link' %>
        <% end %>
      </div>
    </div>
  </div>
</header>
<hr class="separator"/>